@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
/* CSS declarations go here */

$bodyblue: lightblue;
$bodygray: lightgray;

body {
  background: $bodygray;
  font-family: 'Roboto', sans-serif;
}

.main {
  max-width: 600px;
}

.new-resolution {
  text-align: center;
  input {
    width: 300px;
    margin-bottom: 1em;
  }
}

button.delete {
  float: right;
}
.check {
  background: $bodyblue;
  color: red;
  font-style: italic;
  font-weight: 700;
  &:before {
  content: "Done";
  }
}

.new-resolution input[type="text"] {
  padding: 1em;
}



button,
input {
  border-radius: 6px;
  border: 0;
}

li {
  list-style-type: none;
  margin-bottom: 1em;
  border-bottom: 2px solid darkgray;
  padding-bottom: .5em;
}

footer {
  margin-top: 2em;
}
