@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
/* CSS declarations go here */

$bodyblue: lightblue;
$bodygray: lightgray;

body {
  background: $bodygray;
  font-family: 'Roboto', sans-serif;
}

.check {
  background: $bodyblue;
  color: red;
  font-style: italic;
  font-weight: 700;
  &:before {
  content: "Done";
  }
}

.new-resolution input[type="text"] {
  padding: 1.5em;
}



button,
input {
  border-radius: 6px;
  border: 0;
}

li {
  list-style-type: none;
  margin-bottom: 1em;
}
